body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
  }

  .landing-img {
      width: 420px;
      height: 420px;
  }

  .recipe-sub-headers {
    display: inline-block;
    margin: 1em;
  }

  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }

  .recipe-ingredient {
    display: flex;
  }

  .ingredient-price-form {
    display: flex;
  }

  #recipe-ingredient-form {
    display: flex;
    align-items: flex-end;
    margin-left: 1em;
  }

  .recipe-ingredient-form-item {
    margin: 1em;
  }

  .recipe-ingredient-form-item select {
    width: 13em;
  }

  .recipe-ingredient-form-item input {
    width: 13em;
  }
}
